---
description: Documentation for the Aerospike database.
---
<div style="display: none;"><h1 id="page_title">Aerospike Documentation</h1></div>
<div class="section-heading-container row" style="margin:30px 0;">
    <h2 class="section-heading align-center">Aerospike Documentation</h2>
    <p class="text-center"></p>
</div>
<div class="row">
    <div class="column small-12 medium-6">
        <div class="pd-top-md pd-bottom-md pd-right-md pd-left-md">
            <div class="docs-block-img">
                <img src="/assets/images/docs-technology.png" alt="Technology" class="about-bio-thumb">
            </div>
            <div class="about-bio-content">
                <h4 class="about-bio-name-container">
                  Technology
                </h4>
                <p class="lead">Aerospike is a distributed database supporting key-value store and document-oriented data models. Aerospike is architected to meet the performance needs of today’s web-scale applications&mdash;providing robustness and strong consistency with no downtime.</p>
                <p><a href="/technologies" class="link-button">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6">
        <div class="pd-top-md pd-bottom-md pd-right-md pd-left-md">
            <div class="docs-block-img">
                <img src="/assets/images/docs-development.png" alt="Technology" class="about-bio-thumb">
            </div>
            <div class="about-bio-content">
                <h4 class="about-bio-name-container">
                  Development
                </h4>
                <p class="lead">Developers can quickly get started in 10+ programming languages using intuitive APIs.</p>
                <p><a href="/docs/client/" class="link-button">Start developing</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column small-12 medium-6">
        <div class="pd-top-md pd-bottom-md pd-right-md pd-left-md">
            <div class="docs-block-img">
                <img src="/assets/images/docs-deploy.png" alt="Deployment" class="about-bio-thumb">
            </div>
            <div class="about-bio-content">
                <h4 class="about-bio-name-container">
                  Deployment
                </h4>
                <p class="lead">Learn how to create and maintain an Aerospike cluster, following best practices on configuring, managing, monitoring, and tuning your implementation.</p>
                <a href="/docs/operations/" class="link-button">Learn more</a>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6">
        <div class="pd-top-md pd-bottom-md pd-right-md pd-left-md">
            <div class="docs-block-img">
                <img src="/assets/images/docs-tools.png" alt="Tools" class="about-bio-thumb">
            </div>
            <div class="about-bio-content">
                <h4 class="about-bio-name-container">
                  Tools
                </h4>
                <p class="lead">Aerospike contains a number of tools. These are usually, but not always, run on the server. Some tools are run from other nodes&mdash;like maintenance machines, which manage backups.</p>
                <p><a href="/docs/tools/" class="link-button">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column small-12 medium-6">
        <div class="pd-top-md pd-bottom-md pd-right-md pd-left-md">
            <div class="docs-block-img">
                <img src="/assets/images/icon-connectors-small.png" alt="Connectors" class="about-bio-thumb">
            </div>
            <div class="about-bio-content">
                <h4 class="about-bio-name-container">
                  Connectors
                </h4>
                <p class="lead">Aerospike connectors integrate the Aerospike Database with other systems and dramatically reduce support, maintenance, and server costs. Connectors include support for Spark, Kafka, Hadoop, and other commonly used platforms.</p>
                <a href="/docs/connectors" class="link-button">Learn more</a>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6">
        <div class="pd-top-md pd-bottom-md pd-right-md pd-left-md">
            <div class="docs-block-img">
                <img src="/assets/images/icon-examples-small.png" alt="Examples" class="about-bio-thumb">
            </div>
            <div class="about-bio-content">
                <h4 class="about-bio-name-container">
                  Examples
                </h4>
                <p class="lead">Have a look at sample code and apps written using various Aerospike Client APIs in conjunction with other open source technologies and learn how to leverage Aerospike's technology in your own applications.</p>
                <p><a href="/examples" class="link-button">See all examples</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Community Section Start -->
<section class="content-section community">
    <div class="section-heading-container row">
        <h3 class="section-heading align-center">Aerospike Community</h3>
        <p class="text-center">Join the Aerospike community and build relationships with other passionate engineers, share your work and creations, get feedback and support to help improve your skills. We aim to develop a striving powerful community who are passionate as we are about development.</p>
    </div>
    <div class="points-for-community">
        <div class="points-for-community-content row">
            <div class="topic-point medium-4 small-12 columns">
                <img src="//s3-us-west-1.amazonaws.com/aerospike-fd/wp-content/uploads/2015/05/icon-discuss.png" class="content-icon" alt="Discuss">
                <br>
                <h4>Discuss</h4>
                <p class="lead">You’ll find active conversations around Aerospike online. If you’re looking to learn best practices and share ideas with your global peers, here’s where you can get started:</p>
                <ul>
                    <li class="lead"><strong><a href="https://discuss.aerospike.com/" class="primary">Aerospike Forums</a></strong>: For specific technical questions and answers, and for connecting with other Aerospike users and discussing your experience.</li>
                    <li class="lead"><strong><a href="http://stackoverflow.com/tags/aerospike/" class="primary">Aerospike on Stackoverflow</a></strong>: Already active on Stackoverflow? You can also post questions and answers within this programming community.</li>
                </ul>
            </div>
            <div class="topic-point medium-4 small-12 columns">
                <img src="//s3-us-west-1.amazonaws.com/aerospike-fd/wp-content/uploads/2015/05/icon-share.png" class="content-icon" alt="Share">
                <br>
                <h4>Share</h4>
                <ul>
                    <li class="lead"><strong><a href="/blog" class="primary">Blog</a></strong>: Share your use case or experience with Aerospike on your personal blog or contribute a guest post to the Aerospike blog. If you write about Aerospike, contact the community team for help promoting your content.</li>
                    <li class="lead">Get Social: Let your community and friends know why you use Aerospike on your favorite social network.</li>
                    <li>Twitter&mdash;<a href="https://twitter.com/aerospikedb" target="_blank" class="primary">@AerospikeDB</a> and<a href="https://twitter.com/hashtag/aerospikedb" target="_blank" class="primary"> #AerospikeDB</a></li>
                    <li>Facebook&mdash;<a href="https://www.facebook.com/Aerospikedb" target="_blank" class="primary">AerospikeDB</a></li>
                    <li>LinkedIn&mdash;<a href="https://www.linkedin.com/company/aerospike-inc" target="_blank" class="primary">Aerospike, Inc.</a></li>
                    <li>YouTube&mdash;<a href="https://www.youtube.com/user/AerospikeTV" target="_blank" class="primary">AerospikeTV</a></li>
                </ul>
            </div>

            <!-- Contribute -->
            <div class="topic-point medium-4 small-12 columns">
                <img src="//s3-us-west-1.amazonaws.com/aerospike-fd/wp-content/uploads/2015/05/icon-contribute.png" class="content-icon" alt="Contribute">
                <br>
                <h4>Contribute</h4>
                <p class="lead">Open source projects benefit from community contributions and feedback. You can help contribute to Aerospike by:</p>
                <ul>
                    <li class="lead"><strong><a href="https://discuss.aerospike.com/c/feature-requests" class="primary">Suggesting Features</a></strong>: in the Suggested Features section of our user forums.</li>
                    <li class="lead"><strong><a href="/community/launchpad" class="primary">Launchpad</a></strong>: is where we feature community projects and contributions. You will also find example cookbooks and early releases of clients and connectors. Building something great? Let us know and we will help promote your work.</li>
                </ul>
            </div>
            <!--  -->

        </div>
        <div class="points-for-community-content last row">

            <!-- Write -->
            <div class="topic-point medium-4 small-12 columns">
                <img src="//s3-us-west-1.amazonaws.com/aerospike-fd/wp-content/uploads/2015/05/icon-write.png" class="content-icon" alt="Write">
                <br>
                <h4>Write</h4>
                <p class="lead">The Aerospike manual is maintained in a public repository on Github. As with other open source projects, you can submit changes by making a pull request. We encourage you to make improvements, write tutorials, or expand sections.</p>
                <p> <a href="/community/contributor/" class="link-button">Learn how to contribute</a>
                </p>
            </div>
            <!--  -->

            <div class="topic-point medium-4 small-12 columns">
                <img src="//s3-us-west-1.amazonaws.com/aerospike-fd/wp-content/uploads/2015/05/icon-attend.png" class="content-icon" alt="Attend">
                <br>
                <h4>Attend</h4>
                <p class="lead">Our team regularly presents at, attends, and sponsors industry events. Introduce yourself to us and let us know how we can help.</p>
                <p> <a href="/events" class="link-button">Connect with us at industry events</a>
                </p>
            </div>
            <div class="topic-point medium-4 small-12 columns">
                <img src="//s3-us-west-1.amazonaws.com/aerospike-fd/wp-content/uploads/2015/05/icon-suggestions.png" class="content-icon" alt="Connect">
                <br>
                <h4>Suggestions</h4>
                <p class="lead">If there’s some other way you’d like to contribute, feel free to contact us! Thank you for your interest in Aerospike.</p>
                <p> <a href="/contact-us" class="link-button">Contact us</a>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="section-heading-container row">
    <h3 class="section-heading align-center">Aerospike Forum is Here to Help</h3>
    <p class="text-center">Join our <a href="https://discuss.aerospike.com">forum</a> for specific technical questions and answers, and for connecting with other Aerospike community members. Discuss your experiences and share your knowledge today.</p>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div style="background: #fff; margin-bottom: 2em;">
            {{#forums}}
            <section id="forums">
                <header>
                    <h4>{{title}}</h4>
                </header>
                <ul class="feed sm" data-url="{{feed.url}}" data-format="{{feed.format}}" data-render="{{feed.render}}" data-limit="{{feed.limit}}"></ul>
                <div class="center"><a href="http://discuss.aerospike.com" class="btn primary">View all</a></div>
            </section>
            {{/forums}}
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div style="background: #fff; margin-bottom: 2em;">
            {{#stackoverflow}}
            <section id="stackoverflow">
                <header>
                    <h4>{{title}}</h4>
                </header>
                <ul class="feed sm" data-url="{{feed.url}}" data-format="{{feed.format}}" data-render="{{feed.render}}" data-limit="{{feed.limit}}"></ul>
                <div class="center"><a href="http://stackoverflow.com/tags/aerospike/" class="btn primary">View all</a></div>
            </section>
            {{/stackoverflow}}
        </div>
    </div>
</div>
<!-- End of Forums Area -->
<div class="row mg-top-lg" data-equalizer>
    <div class="medium-4 small-12 columns panel" data-equalizer-watch>
        <div class="doc-block">
            <h5 class="upper">Enterprise Support</h5>
            <p class="lead">Beyond Aerospike’s open source offering, the Enterprise Edition includes full 24/7 support. Two globe-spanning offices with senior developers and operations experts help you diagnose full stack problems and performance issues. As you deploy, our professional staff experienced in resolving real-world problems will be there to support your team and help monitor your applications and keep your clusters running at top performance. When you need to add capacity or start new projects, we'll be there to advise.</p>
            <p class="lead"><a href="/services#support-enterprise" class="link-button">Learn more</a></p>
        </div>
    </div>
    <div class="medium-4 small-12 columns panel" data-equalizer-watch>
        <div class="doc-block">
            <h5 class="upper">Consulting</h5>
            <p class="lead">Professional Services projects can include an assessment of your business objectives and technology environment, measurement of traffic patterns, identification of bottlenecks and hardware / software recommendations, simulations and proof of concept testing or evaluations with live loads and setup of production Aerospike clusters. In addition, these projects can provide guidance on data modeling, re-factoring and optimizing your application for low latency and high throughput.</p>
            <p class="lead"><a href="/contact-us" class="link-button">Contact us</a></p>
        </div>
    </div>
    <div class="medium-4 small-12 columns panel" data-equalizer-watch>
        <div class="doc-block">
            <h5 class="upper">Training</h5>
            <p class="lead">Aerospike delivers training for developers and operators. Developer training includes an architecture overview, data modeling, high performance application development and an overview of Aerospike Client APIs. Step by step, hands on labs walk developers through quick installs and writing code, using key-value operations, UDFs, queries and aggregations. Administration training covers installation, configuration, monitoring and troubleshooting so you can easily monitor your cluster, manage upgrades and add capacity.</p>
            <p class="lead"><a href="/training" class="link-button">Learn more</a></p>
        </div>
    </div>

</div>
